@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
--primary-color: #16151d;
--background-color: #312f40;
--secondary-bg-color: #23222e;
--black: #000;
--secondary-color: #9b51e0;
--white: #fff;
}

*{
box-sizing: border-box;
}

body {
width: 100%;
font-family: 'Roboto', sans-serif;
background-color: var(--primary-color);
background-repeat: none;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: max-content;
overflow-y: scroll;
overflow-x: hidden;
margin-top: 0;
margin-left: 0;
color: #b8b8b8;
z-index: -100;
line-height: 1.5;
}

.top-nav {
width: 100%;
height: 50px;
line-height: 50px;
background-color: var(--black);
margin-top: 0;
margin-left: 0;
}

.top-nav h1 {
margin-left: 2rem;
}

h1 {
margin-top: 40px;
margin-bottom: 50px;
}

.fa-bars,
.fa-circle-user {
font-size: 37px;
margin: 10px 10px;
color: #eee;
}

#search-bar {
position: absolute;
border: none;
border-radius: 4px;
color: #eee;
background-color: var(--background-color);
width: 300px;
height: 30px;
margin-top: 10px;
margin-left: 70%;
}

.fa-bars{
    display: none;
}

::placeholder {
color: var(--white);
}

.bottom-nav {
width: 100%;
background-color: var(--secondary-color);
height: 45px;
line-height: 45px;
}

button:hover {
cursor: pointer;
}

.nav-btn {
border: none;
background-color: var(--secondary-color);
color: #eee;
font-weight: 600;
}

.container {
width: 826px;
height: 100%;
margin-top: 50px;
margin-bottom: 30px;
margin-left: -400px;
}

.results {
    position: absolute;
    background-color: #23222e;
    width: 350px;
    top: 50px;
    right: 30px;
    height: max-content;
    padding-bottom: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5), -3px -3px rgba(0, 0, 0, 0.5);
    margin-left: -400px;
    z-index: 999;
  }
  
  .searchCell {
    display: flex;
    width: 350px;
    height: 65px;
    padding: 5px 10px;
    border-bottom: 1px solid #717171;
  }
  
  .searchCell:last-of-type {
    border-bottom: none;
  }
  
  .searchCell p {
    padding-left: 5px;
    line-height: 1;
    font-size: 12px;
  }
  
  .searchCellText {
    padding-bottom: 100px;
  }
  
  .results ul li {
    line-height: 0;
    font-size: 12px;
    margin: none;
  }
  
  .fa-circle {
    line-height: 8px;
    font-size: 3px;
    text-align: center;
    margin-top: 6px;
  }
  
  .inner-container {
    width: 0%;
  }
  
  .trending {
    position: inherit;
    margin-left: 630px;
    width: 220px;
    height: 280px;
    overflow: visible;
    background-color: var(--black);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    opacity: 0.9;
    border-radius: 5px;
  }
  
  .top-container {
    position: inherit;
    display: flex;
    width: 100%;
    overflow: none;
    margin-bottom: 20px;
  }
  
  .trending-title {
    opacity: 1 !important;
    position: relative;
    margin-top: -75%;
    font-size: 1.2rem;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--secondary-color);
  }
  
  .trend-img {
    position: inherit;
    z-index: 3;
  }
  
  .slideshow-container {
    max-width: 619px;
    max-height: 280px;
    position: relative;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    margin-left: 0;
    border-radius: 5px;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 47px;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 5;
}


/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(209, 255, 3, 0.8);
}

/* Caption text */
.captionText {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slideImg{
    position: absolute;
    margin-top: -220px;
    height: 280px;
    filter: blur (8px);
  -webkit-filter: blur(8px);
    z-index: -1;
    overflow: hidden;
    opacity: .5;
    background-color: rgba(0, 0, 0, 0.9);
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* ///////////////////////////////////////////////////////////////////////////////// */

.container-slide{
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    overflow: hidden;

    z-index: 1;

}

img:hover{
    cursor:pointer;
}


/* /////////////////////////////// SLIDER ////////// */
    .super-slider {
        position: absolute;
        height: 280px;
        width: 619px;
        z-index: -5;
        border: 2px solid rgba(0,0,0,0.2);
        border-radius: 3px;
    }

    .slideImg{
        width: 100%e;
    }




.super-slider {
    position: absolute;
    height: 280px;
    width: 619px;
    z-index: -5;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    background-color: #000;
}

.slides {
    position: relative;
    height: 280px;
    max-width: 619px;
    overflow: hidden;
    z-index: -1;
}

.slide-container{
    position: absolute;
} 

.slide-container img{
    top: -10px;
}

.slide-genre,
.summary-text,
.summary-title,
.slide-title {
    position: absolute;
    padding-left: 5px;
    position: relative;
    margin-left: 40px;
    color: var(--white);

}

.slide-title{
    color: var(--white);
}


.summary-text {
    width: 383px;
    font-size: 13px;
}

.summary-title {
    font-size: .8em;
    font-weight: 600;
    /* position:absolute; */
}



.img-slide {
    position: absolute;
    border-radius: 5px;
    flex-direction: row;
    margin-left: 450px;
    margin-top: 40px;
    width: 120px;
    height: 200px;
    
}

#img1,
#img2,
#img3 {
    max-width: 100%;
    ;
}

/* ////////////////////SLIDER END //////////////////////////////// */



/* /////////////////////// Popular////////////////////////////////// */

.popGrid{
    grid-template-rows:repeat (5, auto);
    width: 100%;
    height: 350px;
    left: 0;
    background-color: #312f40;
    display: flex;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 5px;
    justify-content: space-between;
}

.popH3{
    position: relative;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    margin-bottom: -30px;
}

.popular{
margin:50px 5px;
line-height: .5em;
}

.popular img:hover{
    /* filter: blur(1px); */
    opacity: 0.7;
}


.pop-title {
    margin-top: 10px;
    line-height: 15px;
    text-align: left;
    font-size: 14px;
    color: var(--white);
}
/* ////////////////////// POPULAR END ////////////////////////// */


/* //////////////////////// LATEST ///////////////////////////////// */
.latest-chapter {
    font-size: 13px;
    text-align: left;
}

img {
    border-radius: 3px;
}


.latest-update-container {
    width: 826px;
    background-color:var(--background-color) ;
    padding-bottom: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.manga-container img{
    margin-left: 20px;
}

.manga-container {
    width: 413px;
    height: 172px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    border-radius: 3px solid;
    /* padding-right: ; */
}

.cell-container{
    display:grid;
    grid-template-columns: repeat(2,auto);
    width: 100%;
}

.cell{
    margin-top: 15px;
    
}

.manga-info{
    width: 100%;


}

.latest {
    width: 100%;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.latest-update-title {
    padding-left: 10px;
    flex: none;
    font-size: 1em;
    text-align: left !important;
    width: 150px;
    height: 10px;

}

#latest-title{
    margin-left: 10px;
    /* padding-top: ; */
    width: 100%;
    color: var(--white);
    font-weight: 600;
    text-align: center;
}

.dAgo{
    margin-left: 100px;
}

ul{
    list-style: none;
}

ul li::before{
content: "\2022";  
  color:orangered; 
  font-weight: bold; 
  display: inline-block;  
  width: 1em; 
  margin-left: -1em; 
}

li{
    font-size: .8rem;
    font-weight: 600;
    font-family: 'Fira fans', sans-serif;
    line-height: 1.8;
    margin-left: -10px;
    padding: 2px 0;
}

li:hover{
    cursor: pointer;
}

span {
    font-size: .7em;
    flex: none;
}

/* ul {

} */
/* ///////////////////// LATEST END/////////////////////////////// */
.next-btn {
    position: relative;
    margin-top: 10px;
    width: 90px;
    height: 30px;
    left: 50%;
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 10px;
    border:none;
    border-radius: 5px;
    font-weight: 600;
}

.next-btn :hover {
    cursor: pointer;
}
/* ////////////////////////// NEXT BTN END /////////////////////// */


/* //////////////////////RECOMMENDATIONS //////////////////////////////// */
.rec-container {
    position: absolute;
    width: 339px;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: #312f40;
    z-index: 200;
    max-height: max-content;
    top: 144px;
    margin-left: 820px;
    overflow: none;
    border-radius: 5px;
}

.btns-container-1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 34px;
}

.btns-container-2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 90%;
    background-color: gray;
    border-radius: 3px;
    vertical-align: middle;
    padding: 5px 5px;


}

.btn {
    width: 102px;
    height: 22px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: white;
    display: block !important;
    position: relative;
    font-weight: 600;
}

.btn:hover{
    cursor: pointer;
}

#dots {
    position: relative;
    width: 100px;
    margin: 0 270px;
    z-index: 440;

}

.rec {
    width: 297px;
    /* height: 78px; */
    display: flex;
    border-bottom: 1px solid #b8b8b8;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #312f40;
    overflow: none;
    margin: 2px auto;
}

.noBorder{
    border-bottom: none;
}

.rec-inner{
    margin-right: 20px;
    display: flex;
    width: 204px;
    

}

.genres {
    position: absolute;
    left: 7rem;
    margin-top: 1.4rem;
    width: 50%;
    font-size: 12px;
    height: 36px;
}



.fa-star {
    font-size: .8em;
    color:gold;


}

.rec-title {
    flex: none;
    margin-left: 20px;
    font-size: .8rem;
    font-weight: 600;
    width: fit-content;
    padding-right: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

#weekly,
#monthly,
#all {
    background-color: gray;
}

#weekly:focus, #monthly:focus, #all:focus{
    background-color: var(--secondary-color);
}
 
/* ////////////////////////RECOMMENDATIONS END /////////////////////////// */


.manga-data__container{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: var(--background-color);
    border-radius: 10px;
}

.manga-data__image-container{
    width: 30%;
    padding: 1rem 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: gray;
}

.manga-data__image-container span{
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: var(--background-color);
    border-radius: 5px;
    line-height: 1.5rem;
    margin: .5rem;
    color: var(--white);
    font-weight: 600;
}

.manga-data__synopsis{
    width: 100%;
}

.manga-data__synopsis h3{
    color: var(--white);
}


.manga-data__title{
    color: var(--white);
}

.manga-data__image{
    width: 200px;
}
.manga-data__text{
    padding: 1rem 1rem;
}

.chapter-list{
    background-color: var(--background-color);
    width: 100%;
    height: 60vh;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 5px;
    overflow: hidden;
}

.chapter-list__buttons{
    width: 100%;
    display: flex;
}

.chapter-list__btn{
    background-color: var(--secondary-color);
    padding: 0 2rem;
    width: 49%;
    margin: 0 auto;
    height: 4rem;
    border-radius: 5px;
    text-align: center;
    line-height: 1rem;
    padding-top: .5rem;;
}

.chapter-list__chapters{
    width: 100%;
    height: 20rem;
    overflow-y: scroll;
    margin-top: 1rem;

}

.chapter-list__chapter{
    padding: 1rem 1rem;
    border-radius: 5px;
    width: 100%;
    height: 3rem;
    background-color: var(--background-color);
    margin-top: 1rem;
    border: 1px solid gray;
}

.chapter-list__chapter span{
    display: flex;
    margin-top: -20px;

    justify-content: flex-end;
}

.chapter-list__chapter:hover{
    cursor: pointer;

}

.chapter-list__btn{
    color: var(--white);
}

.chapter-title {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: var(--white);
    font-weight: 500;
    font-size: 1.4rem;
    top: 8rem;
    left: 0;
}

footer {
    position: relative;
    margin-top: 50px;
    margin-bottom: -10px;
    width: 100%;
    height: 20px;
    background-color: var(--secondary-color);

    
}



.display{
    display: none;
}

#commentSection{
    width: 80%;
    border-radius: 5px;
    padding: .1rem 1rem;
    background-color:var(--background-color);
    margin-top: 2rem;
    /* margin-left: -400px; */
    overflow: hidden;
}

#newComment{
    width: 70%;
    border-radius: 5px;
    background-color: var(--white);
}

.reply-btn{
    padding: none;
    background-color:transparent ;
    background-color: none;
    border: none;
    font-weight: 500;
}

.chapter__container{
    width: 60%;
}

.chapter-title{
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;   
}

.chapter__images img{
    width: 100%;
    margin-top: -7px;
    pointer-events: none;
}

.comment{
    display: flex;
    background-color: var(--secondary-bg-color);
    width: 99%;
    height: 2rem;
    line-height: 2rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    
}

.reply-btn:hover{
    color: red;
}

.fa-chevron-up{
    position:fixed;
    bottom: 100px;
    right: 20px;
    font-weight: 600;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 50%;
    color: #fff;
    background: var(--secondary-color);

}

.chapter-buttons__container{
    position: relative;
    width: 80%;
    height: 2.5rem;
    line-height: 2.5rem;
    display: flex;
}

.chapter-buttons__change-chapter{
    display: flex;
    position: absolute;
    right: 1rem;
    height: 2.5rem;

}

.nextCh,.prevCh{
    width:fit-content;
    padding: 2px 15px;
    background-color:var(--secondary-color);
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    font-size: .8rem;
    
}

.nextCh:hover,.prevCh:hover{
    cursor: pointer;
    background-color: #333;
}

select{
    height: 2rem;
    line-height: 2rem;
    margin: auto 0 ;
    margin-left: 2rem;
    width:fit-content;
    padding: 5px 10px;
    background-color:#333;
    border-radius: 20px;
    color: #9b9b9b;
    border: none;
}

.fa-greater-than, .fa-less-than{
    font-size: .8rem;
}


/* //////////////////////// Media Queries ///////////////////////////// */
@media  (max-width: 1024px) and (min-width: 768px) {
    body{
        overflow-x: hidden;
    }

    .container {
        width: 1024px;
        margin-left: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        }
        

    #search-bar{
        position: absolute;
        margin-left: 60%
    }

    .results{
        margin-left: 40% !important;
    }

    

    .rec-container{
        display: none;
        overflow-y: hidden;
    }
    
    .trending{
        display: none;
    }

    .top-container{
        width: 1024px;
        margin: 0 20%;
        overflow-y: hidden;
    }

    .top-nav{
        width: 1024px !important;
    }
    
    .container-slide{
        position:relative; 
        width: 1024px !important;
    }
    .slides{
        width: 1024px !important;
        overflow-y: hidden;
    }

    .slideImg{
        width: 1024px;
    }

    .container-popular{
        width: 1024px;
        /* overflow-y: hidden; */
    }

    .popGrid{
        grid-template-rows:repeat (5, auto);
        width: 1024px;
        gap: 3.7rem;
        height: 350px;
        left: 0;       
        justify-content: space-between;
    }

    .popular img{
        width: fit-content;
    }

    .latest-update-container{
        width: 1024px !important;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .cell-container{
        width: 1024px;
        overflow-y: hidden;
    }

    .cell{
        width: 512px;
    }

    .manga-info{
        width: 100%;
    }

    .manga-container{
        width: 100% !important;
    }
    
  
    #latest-title{
        font-size: 1.2rem !important;
    }

    .chapter-list{
        height: 300px !important;
        overflow: hidden;
    }


    .manga-data__image{
        width: 150px !important;
    }

    .chapter__container{
        margin: 0 auto !important;
    }

    .chapter-buttons__container{
        margin: 0 auto !important;
    }

    footer{
        width: 1024px !important;
    }

    .next-btn {
        transform: translateX(-50%);
        
      }
}

@media  (max-width: 768px) and (min-width: 320px) {

    body{
        display: block;
        overflow-x: hidden !important;
    }

    .container {
        width: 768px;
        margin-left: 0;
        overflow-y: hidden;
        overflow-x: hidden !important;
        }
        

    #search-bar{
        position: absolute;
        margin-left: 40%
    }

    .results{
        position: relative;
        margin-top: -100px;
        margin-left: 50% !important;
    }

    

    .rec-container{
        display: none;
        overflow-y: hidden;
    }
    
    .trending{
        display: none;
    }

    .top-nav{
        width: 768px !important;
    }

    .bottom-nav{
        width: 768px !important;
    }
    

    .top-container{
        width: 768px;
        margin: 0 10%;
        overflow-y: hidden;

    }
    .container-slide{
        position:relative; 
        display:inline-block;
        width: 768px;
        overflow:visible;
        overflow-y:hidden;
    }
    .slides{
        width: 768px;
        overflow-y: hidden !important;
    }

    .slideImg{
        width: 768px !important;
    }

    .container-popular{
        width: 768px !important;
        margin: 0 auto !important ;
        overflow-y: hidden !important;
    }

    .popGrid{
        width: 768px !important;
        gap: 0;
        margin-left: -8px;
        height: 350px;
        left: 0;       
        justify-content: space-between;
    }
    

    .latest-update-container{

        width: 768px !important;
        overflow-y: hidden;
    }

    .cell-container{
        width: fit-content;
        overflow-y: hidden;
    }

    .cell{
        width: 384px;
    }

    .manga-info{
        width: 384px;
    }

    .manga-container{
        width: 100% !important;
    }
    
  
    #latest-title{
        font-size: 1rem !important;
    }

    .chapter-list{
        height: 300px !important;
        overflow: hidden;
    }

    .manga-data__image{
        width: 100% !important;
    }

    .chapter__container{
        margin: 0 auto !important;
    }

    .chapter-buttons__container{
        margin: 0 auto !important;
    }


    .chapter-buttons__container{
        margin: 0 auto !important;
    }

    .chapter-buttons__change-chapter{
        right: -20px;
    }

    .nextCh, .prevCh{
        font-size: .5rem;
        padding: 1px 5px !important;
    }


    .fa-greater-than, .fa-less-than{
        font-size: .5rem;
    }

    .chapter-buttons__list{
        margin-left: -20px;
    }



    footer{
        width: 768px !important;
        overflow-y: hidden !important;
    }
    .next-btn {
        transform: translateX(-50%);
        
      }
}


@media  (max-width: 320px) and (min-width: 0px) {

    .container {
        width: 320px;

        }
        

    #search-bar{
        width: 40%;
        margin-left: 5%
    }



    .top-container{
        width: 320px;
        margin: 0 10%;
        overflow-y: hidden;

    }

    .top-nav{
        width: 320px !important;
    }

    .bottom-nav{
        width: 320px !important;
    }

    .top-nav h1{
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    .container-slide{
        width: 320px !important;
        overflow:visible;
        overflow-y:hidden;
    }

    .slide-container{
        width: 320px;
    }

    .slides{
        margin-left: -80px !important;
        width: 320px;
    }

    .super-slider{
        margin-left: 50px !important;
    }

    .dot{
        display: none;
    }

    .slide-container img{
        width: 100px;
        height:120px;
        margin-left: 150px;
        margin-top: 120px;
    }
    .slides{
        width: 320px !important;
        border-radius: 20px;
        overflow-y: hidden;
    }

    .slideImg{
        width: 320px !important;
    }

    .summary-text{
        font-size: .5rem !important;
        width: 30% !important;
    }

    .container-popular{
        width: 320px !important;
        margin: 0 auto !important ;
        overflow-y: hidden !important;
    }

    .popGrid{
        width: 320px !important;
        gap: 0;
        margin-left: -8px;
        height: 350px;
        left: 0;       
        justify-content: space-between;
    }

    .popular img{
        width: fit-content;
    }

    .latest-update-container{
        width: 320px !important;
        overflow-x: hidden;
    }

    .cell-container{
        width: 320px;
        overflow-y: hidden;
    }

    .cell{
        width: 320px;
    }

    .manga-info{
        width: 320px !important;
    }

    .manga-container{
        width: 100% !important;
    }
    
  
    #latest-title{
        font-size: .8rem !important;
    }

    .firstCh, .newCh{
        font-size: .7rem;
    }

    .chapter-list{
        height: 300px !important;
        overflow: hidden;
    }

    .chapter-title{
        width: 100%;
        font-weight: 500;
        font-size: .8rem;
        position: absolute; 
        margin:0 auto;  
    }

    .manga-data__image{
        width: 75px !important;
    }

    .manga-data__synopsis{
        font-size: .6rem;
    }

    .chapter__container{
        width: 100%;
    }

    .chapter-buttons__container{
        margin: 0 auto !important;
    }

    .chapter-buttons__change-chapter{
        right: -20px;
    }

    .nextCh, .prevCh{
        font-size: .5rem;
        padding: 1px 5px !important;
    }


    .fa-greater-than, .fa-less-than{
        font-size: .5rem;
    }

    .chapter-buttons__list{
        margin-left: -20px;
    }


    ul li{
        font-size: .5rem;
        margin-left: -20px;
    }

    footer{
        width: 320px !important;
    }

    .next-btn {
        transform: translateX(-50%);
        
      }
}